.side-menu {
  color: #aaa;
  cursor: pointer;
  text-transform: uppercase;

  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .side-menu {
    display: none;
  }
}

.side-menu li:not(:first-child):not(:last-child) {
  /*padding: 5px 0;*/
}

.side-menu li.active {
  color: #0693B9;
}
