/.ipynb_checkpoints
/.vscode
/venv
/.idea/


data/raw
output/toy.dblp.v12.json
output/**/fold*

src/tmp.py

run_logs/*.log
baseline/caser_pytorch/datasets

*.pyc
*.npz
*.pt
*.src
*.tgt
# *.pkl
*.png
# *.log
*.pred
*.7z
*.npy
*.rar
*.mdl
*.json