/.ipynb_checkpoints
/.vscode
/venv
/.idea/
/data/raw/dblp.v12.json
*.pyc
*.npz
*.pt
*.src
*.tgt
*.pkl
*.png
src/tmp.py
*.log
*.pred
output/toy.dblp.v12.json/*
output/dblp.v12.json/*
output/dblp.v12.json.filtered.mt75.ts3/*
*.7z
data/raw/dblp/dblp.v12.json
*.npy
*.rar
*.mdl
*.pt
