/.ipynb_checkpoints
/.vscode
/venv
/.idea/
/data/raw/dblp.v12.json
*.pyc
*.npz
*.pt
*.src
*.tgt
*.pkl
*.png
*.tsv
src/tmp.py
/output/
*.log
/baseline/Team_Formation_Library/teamFormationLibrary/dataset
/baseline/Team_Formation_Library/teamFormationLibrary/output/Models
