#python3.8
#python -m venv opentf_venv
#source opentf_venv/bin/activate  (non-windows), opentf_venv\Scripts\activate (windows)
#pip install -r requirement.txt

scipy==1.10.1
numpy==1.24.4 #cannot go above for gensim
tqdm==4.65.0
hydra-core==1.3.2
python-dateutil==2.9

# on-demand package installations
# scikit-learn==1.2.2
## main.get_splits()
## mdl.emb.gnn.Gnn.eval()
## mdl.tntf.learn()
# pandas==2.0.0
## cmn.repository.Repository.read_data()
## cmn.movie.Movie.read_data()
## cmn.patent.Patent.read_data()
# matplotlib==3.7.5
## cmn.team.Team.plot_stats()
# natsort==8.4.0
## mdl.emb.d2v.D2v.order()
# gensim==4.3.3 #needs numpy 1.24.4
## mdl.emb.d2v.D2v.train()
# torch==2.2.2 --index-url https://download.pytorch.org/whl/cu124
## mdl.emb.gnn.Gnn.__init__() __config__.yaml.pytorch
# torch_geometric==2.6.1 torch_cluster==1.6.3 torch_sparse==0.6.18 torch_scatter==2.1.2 -f https://data.pyg.org/whl/torch-{Gnn.torch.__version__}.html
## mdl.emb.gnn.Gnn.__init__()
# tensorboard==2.14.0 tensorboardX==2.6.2.2
## mdl.emb.gnn.Gnn.__init__()

# yet to be reached and checked
#pytrec-eval-terrier==0.5.2
## opennmtpy requires 2.1 < torch < 2.3 and raises conflict with other versions when installed with pyg
## OpenNMT-py>=3.3
#reranking==0.3.6 # required by Adila submodule
#fairsearchcore==1.0.4 # required by Adila submodule
##schedule
#bayesian-torch