torch>=1.9.0
scipy==1.10.1
numpy==1.22.4
tqdm==4.65.0
PyYAML==6.0.1
scikit-learn==1.2.2
pandas==1.5.3
gensim==4.3.1
pytrec-eval-terrier==0.5.2
matplotlib==3.7.1
OpenNMT-py==3.3
reranking==0.3.6 # required by Adila submodule
fairsearchcore==1.0.4 # required by Adila submodule
#schedule
python-dateutil==2.8.2
