.side-menu {
  color: #aaa;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .side-menu {
    display: none;
  }
}

.side-menu li:not(:first-child):not(:last-child) {
  padding: 5px 0;
}

.side-menu li.active {
  color: #1d824c;
}
