body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  height: 100vh;
  position: relative;
}

.main-content {
  padding-top: 1rem;
}

.top-menu {
  height: 20rem;
  background-image: url("./img/banner-background_sigir-ap24-reduced.jpg");
  background-position: center top;
  background-size: cover;
}

.title-text {
  color: white;
}

.title-box {
  background: #3a4039b0;
}
