body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  height: 100vh;
  position: relative;
}

.main-content {
  padding-top: 1rem;
}

.top-menu {
  height: 10rem;
  background-image: url("./img/banner-background.jpg");
  background-position: center;
  background-size: cover;
}

.title-text {
  text-align: center;
  color: white;
}
