name: Docker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: extract
        run: echo "IMAGE_NAME=ghcr.io/fani-lab/opentf/toy-dblp" >> $GITHUB_OUTPUT

      - run: docker build -t ${{ steps.extract.outputs.IMAGE_NAME }}:latest .
      - run: docker run --rm -v ./data:/app/data:ro -v ./output:/app/output ${{ steps.extract.outputs.IMAGE_NAME }}:latest
      - run: docker push ${{ steps.extract.outputs.IMAGE_NAME }}:latest