@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #202b33;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

::-webkit-scrollbar-track {
  background-color: #202b33;
}

::-webkit-scrollbar-thumb {
  background-color: #a8bbbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e9195;
}

* {
  box-sizing: border-box;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
}

#container {
  overflow:hidden;
  height: 100%;
  display: table;
  width: 100%;
  background: #202b33;
  overflow-y: scroll;
}

/* Side Bar */
#sideMenu {
  width: 20%;
  height: 100%;
  padding: 30px;
  border-right: 1px solid rgba(255, 255, 255, .1);
  display: table-cell;
  vertical-align: top;
  color: #fff;
}

.menustatic {
  list-style: none;
  margin:  24px 0;
  padding: 0;
}

.menustatic li:first-child {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.menustatic li {
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 200;
  color: rgba(255, 255, 255, .6);
  position: relative;
}

.menustatic li.selected {
  color: #239ae3;
  font-weight: bold;
}

.menu {
  list-style: none;
  margin:  24px 0;
  padding: 0;
}
.menu li {
  user-select: none; 
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  font-weight: 200;
  color: rgba(255, 255, 255, .6);
  position: relative;
}
.menu li:hover {
  color: #239ae3;
}

.menu li.selected {
  color: #239ae3;
  font-weight: bold;
}

.menu li:first-child {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.addCategory {
  font-size: 13px;
  font-weight: 200;
  color: rgba(255, 255, 255, .2);
}
.addCategory:hover {
  color: #fff;
}

/* Content */
#content {
  width: 80%;
  height: 100%;
  padding: 25px;
  display: table-cell;
}
#titleBar {
  height: 36px;
  margin-bottom: 30px;
}
#logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #999;
  float: right;
  margin-top: -8px;
  margin-left: 14px;
  overflow: hidden;
}
#graph {
  margin-bottom: 30px;
}

/* Icons */
.count {
  display: block;
  width: 20px;
  height: 20px;
  color: #202b33;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, .6);
  position: absolute;
  top: 0; bottom: 0; right: 2%;
  margin: auto;
}
.colorIcon {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0; bottom: 0; right: 2%;
  margin: auto;
}
.plus {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #202b33;
  font-weight: 600;
  font-size: 16px;
  line-height: 8px;
  padding: 4px;
  margin-right: 6px;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  color: rgba(255, 255, 255, .2);
}
.red {
  background: #FF0000;
}
.blue {
  background: #0000FF;
}
.green {
  background: #00FF00;
}
.yellow {
  background: #FFFF00;
}
.purple {
  background: #800080;
}
.orange {
  background: #FFA500;
}
.pink {
  background: #FFC0CB;
}
.cyan {
  background: #00FFFF;
}
.magenta {
  background: #FF00FF;
}
.teal {
  background: #008080;
}
.gray {
  background: #808080;
}
.olive {
  background: #808000;
}
.gold {
  background: #FFD700;
}


/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  padding-bottom: 14px;
}
tr:not(:first-child):hover {
  background: rgba(255, 255, 255, 0.1);
}
td {
  height: 40px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 10px;
}
/* Headers */
h1 {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  float: left;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
  color: rgba(255, 255, 255, .8);
}
h3 {
  float: left;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  margin-top: 8%;
  margin-left: 20px;
  margin-bottom: 6px;
}

.clearFix {
  clear: both;
}


